[submodule "tue_metapackages"]
	path = tue_metapackages
	url = https://github.com/Rayman/tue_metapackages.git
[submodule "data/tue-env-targets"]
	path = data/tue-env-targets
	url = https://github.com/tue-robotics/tue-env-targets.git
