[submodule "data/tue-env"]
	path = data/tue-env
	url = https://github.com/tue-robotics/tue-env.git
[submodule "tue_metapackages"]
	path = tue_metapackages
	url = https://github.com/Rayman/tue_metapackages.git
